__pycache__
.DS_Store
data/*
fed.py
IXQuisite-main
key.json
llm_cache

!data/ELI5
data/ELI5/*
!data/ELI5/processed/

!data/WikiDialog
data/WikiDialog/*
!data/WikiDialog/processed

!data/WIRED
data/WIRED/*
!data/WIRED/data
data/WIRED/data/*
!data/WIRED/data/json

!data/final_results